<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <style>
        .closed{
            color : red;
            text-decoration: line-through;
            font-weight: bold;
            font-style: italic;
        }
        li{
            cursor: pointer;
        }
        .timeStamp  {
            font-size: small;
            font-style: italic;
            font-weight: bold;
        }
    </style>
    <script >
        /*
        1. Display a list of bugs
        2. Add a new Bug
        3. Toggle the closed status of a bug
        4. Remove closed bugs
        4.a Display stats
        7. Display the time of creation
        5. Persist bugs in the localStorage
        6. Persist bugs in the server
        8. Search for bugs
        9. Sort the bugs by various attributes
        10. Categorize the bugs

        */

        /*
        window.localStorage
            key/value store
            both key and value should be strings

            - setItem(key,value)
            - getItem(key) //=> value
            - removeItem(key)
            - key(index) //=> key
            - clear()
            - length
        */
    </script>
    <script src="angular.js"></script>
    <script src="moment.js"></script>
    <script>
        var utils = angular.module("utils",[]);
        utils.value("defaultTextLimit",20);
        utils.filter("trimText", function(defaultTextLimit, $filter){
            return function(data, textLimit){
                var limitTo = $filter('limitTo');
                textLimit = textLimit || defaultTextLimit;
                return data.length > textLimit
                    ? limitTo(data,textLimit) + "..."
                    : data;
            }
        });



        var bugTrackerApp = angular.module("bugTrackerApp",["utils"]);

        bugTrackerApp.factory("Bug", function(){
            function Bug(data){
                this.id = data.id || new Date().valueOf().toString();
                this.title = data.title;
                this.isClosed = data.isClosed;
                this.createdAt = data.createdAt;
            }
            Bug.prototype.toggleStatus = function(){
                this.isClosed = !this.isClosed;
            }
            return Bug;
        });

        bugTrackerApp.service("bugStorage", function(Bug, $window){

            var storage = $window.localStorage;

            this.getAll = function(){
                var result = [];
                for(var i=0; i< storage.length;i++){
                //load data from storage
                    var bugString = storage.getItem(storage.key(i));
                    var bugData = angular.fromJson(bugString);
                    var bug = new Bug(bugData);
                    result.push(bug);
                }
                return result;
            };
            this.save = function(bug){
                storage.setItem(bug.id, angular.toJson(bug));
            };
            this.remove = function(bugId){
                storage.removeItem(bugId);
            }
        });

        /* bugTrackerApp.factory("bugStorage", function(Bug){

            var storage = window.localStorage;
            var obj = {};
            obj.getAll = function(){
                var result = [];
                for(var i=0; i< storage.length;i++){
                //load data from storage
                    var bugString = storage.getItem(storage.key(i));
                    var bugData = window.JSON.parse(bugString);
                    var bug = new Bug(bugData);
                    result.push(bug);
                }
                return result;
            };
            obj.save = function(bug){
                storage.setItem(bug.id, window.JSON.stringify(bug));
            };
            obj.remove = function(bugId){
                storage.removeItem(bugId);
            }
            return obj;
        });*/

        bugTrackerApp.controller("bugsController", function($scope, Bug, bugStorage){
            //placeholder for new bug
            var storage = window.localStorage;

            //initial list
            $scope.bugs = bugStorage.getAll();

            //load the data from storage


            $scope.newBug = "";

            //adding newbug to the list
            $scope.addNewBug = function(){
                var newBugObj = new Bug({
                    title : $scope.newBug,
                    isClosed : false,
                    createdAt : new Date()
                });
                bugStorage.save(newBugObj);
                $scope.bugs.push(newBugObj);
                $scope.newBug = "";
            };



            $scope.toggleStatus = function(bug){
                bug.toggleStatus();
                bugStorage.save(bug);
            };

            $scope.removeClosed = function(){
                for (var i= $scope.bugs.length-1; i>=0; i--){
                    var bug = $scope.bugs[i];
                    if (bug.isClosed){
                        bugStorage.remove(bug.id);
                        $scope.bugs.splice(i,1);
                    }
                }
            }
        });

        bugTrackerApp.value("momentApi", moment);

        bugTrackerApp.filter("toMoment", function(momentApi){
            return function(data){
                return momentApi(data).fromNow();
            }
        });


    </script>
</head>
<body ng-app="bugTrackerApp">

    <h1>Bug Tracker</h1>
    <div class="content" ng-controller="bugsController">
       <div>
           <span>Bug Title Limit : </span>
           <input type="range" min="20" max="200" ng-model="bugTitleLimit">
       </div>
        <div class="stats">
            <span class="closed">{{(bugs | filter:{isClosed : true}).length}}</span>
            <span> / </span>
            <span>{{bugs.length}}</span>
        </div>
        <span>Bug :</span>
        <input type="text" name="" id="txtBugTitle" ng-model="newBug">
        <input type="button" value="Add Bug" ng-click="addNewBug(newBug)">
        <input type="button" value="Remove Closed" ng-click="removeClosed()" >
        <ol>
            <li ng-repeat="bug in bugs" ng-click="toggleStatus(bug)" ng-class="{closed : bug.isClosed}">
            <span>{{bug.title | trimText:bugTitleLimit }}</span>
            <span> - </span>
            <span class="timeStamp">{{bug.createdAt | toMoment}}</span>
            </li>
        </ol>
    </div>
</body>
</html>
