<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary Calculator</title>
    <style>
        label{
        display: block;
    }
        .content{
            padding : 10px;
            margin: 10px;
            border : 1px solid black;
            background-color: lightgray;

        }
        #divResult{
            font-size: 28pt;
            color : red;
        }
    </style>
    <script src="jquery-1.11.2.js"></script>
    <script src="angular.js"></script>
    <script>


    String.prototype.toInt = function(){
        return parseInt(this,10);
    }

    //Model
    function SalaryCalculator(){
        this.basic = 0;
        this.hra = 0;
        this.da = 0;
        this.tax = 0;
        this.salary = 0;
    }
    SalaryCalculator.prototype.calculate = function(){
        var gross = this.basic.toInt() + this.hra.toInt() + this.da.toInt();
        var net = gross * ((100-this.tax.toInt())/100);
        this.salary = net;
    }


    //$(function(){
        window.calculator = new SalaryCalculator();
        var calculatorApp = angular.module("calculatorApp",[]);
        calculatorApp.run(function($rootScope){
            $rootScope.calculator = window.calculator;
        });
        //angular.bootstrap(document.body,["calculatorApp"]);
    //});
    </script>


</head>
<body ng-app="calculatorApp">
    <h1>Salary Calculator</h1>
     <form id="calculatorForm1">
        <div><label for="">Basic :</label><input type="text" name="basic" id="txtBasic" ng-model="calculator.basic" ></div>
        <div><label for="">HRA :</label><input type="text" name="hra" id="txtHra" ng-model="calculator.hra"></div>
        <div><label for="">DA :</label><input type="text" name="da" id="txtDa" ng-model="calculator.da"></div>
        <div>
            <label for="">Tax %</label>
            <input type="range" name="tax" id="rangeTax" min="0" max="30" ng-model="calculator.tax">
            <span id="spanTax">{{calculator.tax}}</span>
        </div>
        <div><input type="button" value="Calculate" id="btnCalculate" ng-click="calculator.calculate()"></div>
        <div>
            <div id="divResult">{{calculator.salary}}</div>
        </div>
        </form>



</body>
</html>
